
/* Main body style */ 

body {
background-color: rgb(165, 205, 165);
background-image: none;
filter: brightness(100%);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-blend-mode: screen;
}

/* Company name and main page title */ 
header {
background-color: rgb(245,245,203); 
Font-family: "Andale Mono", AndaleMono, monospace; 
color: black;
text-align: center;
text-decoration-color: white;
text-transform: uppercase;
font-weight: bold;
font-size: 1em;
margin: 0;
padding: 15px;
border-style: solid;
border-width: 0px 0px; 

}

/* Navigation bar style, hover and etc.*/ 
.navbar-menu{
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: RGB(125,205,203);
  Font-family: "Andale Mono", AndaleMono, monospace; 
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}

.navbar-menu li {
  float: right;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
}

.navbar-menu li a:hover, .dropdown:hover .dropbtn {
  background-color: grey;
}

.navbar-menu .dropdown {
  display: inline-block;
}

.navbar-menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.navbar-menu .dropdown-content a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: "Andale Mono", AndaleMono, monospace;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-menu .dropdown-content a:hover {background-color: #f1f1f1;}

.navbar-menu .dropdown:hover .dropdown-content {
  display: block;
}

/* Change page */
.fixed-btnr {
  position: fixed;
  bottom: 35px;   /* distance from bottom */
  right: 50px;    /* distance from right */
  padding: 12px 20px;
  background-color: RGB(125,205,203);
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  z-index: 1000;  /* stays above other content */
}


.fixed-btnl {
  position: fixed;
  bottom: 35px;   /* distance from bottom */
  left: 50px;    /* distance from right */
  padding: 12px 20px;
  background-color: RGB(125,205,203);
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  z-index: 1000;  /* stays above other content */
}


/* Common conclusion */ 
.ty {
  font-family: "Andale Mono", AndaleMono, monospace; 
  Color: green;
  text-shadow:  grey 1px 0 15px;
  font-size:19px;
  font-weight: bold;
  text-align: center;
  margin: 50px auto;
  padding: 50px;
  }

  /* Index page style */ 
  .index 
  {
  font-family: "Andale Mono", AndaleMono, monospace; 
  color: black;
  font-size: 19px;
  font-weight: bol;
  letter-spacing: px;
  line-height: 2;
  text-shadow:  grey 1px 0 15px;
  text-align: center;
  margin: 130px auto 0 auto;
  max-width: 900px;
  padding: 50px;
  outline: 5px solid rgba(185, 232, 185, 0.738);
  background-color:rgba(185, 232, 185, 0.738);
  background-image: none;
  background-size: cover;
  background-blend-mode: screen;
  }

  /* Investment page style */ 
  .investment {
    font-family: "Andale Mono", AndaleMono, monospace; 
    font-size: 15px;
    color: black;
    font-weight: bol;
    letter-spacing: px;
    line-height: 2;
    text-shadow:  beig 2px 0 15px;
    text-align: left;
    text-indent: 0px;
    margin: 90px auto;
    max-width: 900px;
    padding: 35px 50px;
    outline: 5px solid rgba(185, 232, 185, 0.738);
    background-color:rgba(185, 232, 185, 0.738);
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:screen;
    }
    
    .investment-list {
    font-family: "Andale Mono", AndaleMono, monospace;
    font-size: 15px;
    font-weight: bol;
    list-style-type: ;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    text-transform: ;
   margin: 25px auto;
   padding-left: 50px;
    }
    
    .investment-list li {
      margin: 5px 0;
    }
    
    .image {
      font-family: "Andale Mono", AndaleMono, monospace;
      font-weight: bold;
      list-style-type: ;
      color: black;
      text-decoration: underline;
      display: block;
      text-align: left;
      }
      
      #umrahimg {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
      }
      
      #umrahimg:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
      }

      /* Article page style */ 
      .article {
      font-family: "Andale Mono", AndaleMono, monospace; 
      font-size: 15px;
      color: black;
      font-weight: bol;
      letter-spacing: px;
      line-height: 2;
      text-shadow:  beig 2px 0 15px;
      text-align: left;
      text-indent: 0px;
      margin: 90px auto;
      max-width: 900px;
      padding: 35px 50px;
      outline: 5px solid white;
      background-color: rgba(229, 232, 229, 0.905);
      background-image: none;
      background-repeat: no-repeat;
      background-size: cover;
      background-blend-mode:screen;
      }
      
      .table body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            padding: 20px;
          }
      
          .table body {
            width: 100%;
            border-collapse: collapse;
            background-color: #ffffff;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
          }
      
      th, td {
            border: 1px solid #dddddd;
            padding: 12px;
            text-align: left;
          }
      
      th {
            background-color: #4CAF50;
            color: white;
          }
      
      tr:nth-child(even) {
            background-color: #f2f2f2;
          }

      /* Individual and Small Business page style */ 
      .service {
        font-family: "Andale Mono", AndaleMono, monospace; 
        color: black;
        font-size: 15px;
        font-weight: bol;
        letter-spacing: px;
        line-height: 2;
        text-shadow:  beig 2px 0 15px;
        text-align: left;
        text-indent: 0px;
        margin: 90px auto;
        max-width: 900px;
        padding: 25px 90px;
        background-image: none;
        background-blend-mode:screen;
        background-color:rgba(185, 232, 185, 0.738);
        background-repeat: no-repeat;
        background-size: cover;
        }
        
        .srv-list {
        font-family: "Andale Mono", AndaleMono, monospace;
        font-size: 15px;
        font-weight: bol;
        list-style-type: ;
        color: black;
        text-decoration: none;
        display: block;
        text-align: left;
        text-transform: ;
        margin: 30px auto;
        padding-left: 50px;
        }
        
        .srv-list li {
          margin: 20px 10px;
        }

       /* About us page style */ 
        .aboutus {
        font-family: "Andale Mono", AndaleMono, monospace; 
        color: black;
        font-size: 15px;
        font-weight: bol;
        letter-spacing: px;
        line-height: 2;
        text-align: justified;
        text-shadow:  beig 2px 0 15px;
        margin: 90px auto;
        max-width: 900px;
        padding: 25px 90px;
        outline: 5px solid rgba(185, 232, 185, 0.738);
        background-color: rgba(185, 232, 185, 0.738);
        background-image: none;
        background-blend-mode:screen;
        background-repeat: no-repeat;
        background-size: cover;
        }
        
        .ceo {
        font-family: "Andale Mono", AndaleMono, monospace; 
        color: black;
        font-size: 15px;
        font-weight: bol;
        letter-spacing: px;
        line-height: 2;
        text-indent: 0px;
        text-align: justified;
        margin: 90px auto;
        max-width: 900px;
        padding: 25px 90px;
        outline: 5px solid rgba(185, 232, 185, 0.738);
        background-color: rgba(185, 232, 185, 0.738);
        background-image: none;
        background-blend-mode:screen;
        background-repeat: no-repeat;
        background-size: cover;
        }

       /* Career page style */ 
        .career {
        font-family: "Andale Mono", AndaleMono, monospace; 
        Color: black;
        font-size: 15px;
        font-weight: bol;
        letter-spacing: px;
        line-height: 2;
        text-align: center;
        text-shadow:  grey 1px 0 15px;
        margin: 90px auto;
        max-width: 900px;
        padding: 25px 90px;
        outline: 5px solid rgba(185, 232, 185, 0.738);
        background-color: rgba(185, 232, 185, 0.738);
        background-image: none;
        background-blend-mode:screen;
        background-repeat: no-repeat;
        background-size: cover;
        }

       /* Contact page style */ 
        .role {
        font-family: "Andale Mono", AndaleMono, monospace; 
        color: black;
        font-size: 15px;
        font-weight: bol;
        letter-spacing: px;
        line-height: 2;
        text-align: left;
        text-shadow:  grey 1px 0 15px;
        margin: 90px auto;
        max-width: 900px;
        padding: 25px 90px;
        outline: 5px solid rgba(185, 232, 185, 0.738);
        background-color:rgba(185, 232, 185, 0.738);
        background-image: none;
        background-blend-mode:screen;
        background-repeat: no-repeat;
        background-size: cover;
        }

@media screen and (max-width: 768px) {
  .role {
    padding: 20px 15px;
  }
}

