body {background-color: rgb(249,255,253);}

body {
background-image: url("../images/a.jpg");
filter: brightness(100%);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
color: #FFFFFF;
}


header {
Background-color: black; 
Font-family: "Andale Mono", AndaleMono, monospace; 
color: white;
Text-align: center;
margin-left: 0px;
text-decoration-color: white;
text-transform: uppercase;
font-weight: bold;
font-size: 2.875em;
border-style: solid;
border-width: 0px 0px; 
padding: 30px;
}

.index {
Background-color: black; 
background-image: url("../images/.jpeg");
background-size: cover;
outline-width: 5px;
outline-style: solid; 
outline-color: black;
text-shadow:  grey 1px 0 15px;
font-weight: bold;
letter-spacing: 5px;
line-height: 1.8;
font-family: "Andale Mono", AndaleMono, monospace; 
Color: white;
Text-align: center;
margin-top: 130px;
Margin-right: 150px;
margin-left: 150px;
font-size: 1.4em;
padding-top: 50px;
padding-right: 50px;
padding-bottom: 50px;
padding-left: 50px;
}

.pAboutUs {
Background-color: black; 
background-size: cover;
outline-width: 5px;
outline-style: solid; 
outline-color: black;
text-shadow:  beig 2px 0 15px;
font-weight: bold;
letter-spacing: 5px;
line-height: 1.5;
font-family: "Andale Mono", AndaleMono, monospace; 
font-size: 1.8em;
Color: white;
Text-align: justified;
margin-left: 5px;
Margin-right: 5px;
margin-top: 50px;
padding-top: 50px;
padding-right: 50px;
padding-bottom: 50px;
padding-left: 50px;
}

.career {
background-image: url("../images/.jpg");
Background-color: black; 
background-size: cover;
outline-width: 5px;
outline-style: solid; 
outline-color: black;
text-shadow:  grey 1px 0 15px;
letter-spacing: 5px;
line-height: 1.5;
font-weight: bold;
font-family: "Andale Mono", AndaleMono, monospace; 
Color: white;
Text-align: center;
font-size: 1.8em;
margin-left: 5px;
Margin-right: 5px;
margin-top: 50px;
padding-top: 50px;
padding-right: 50px;
padding-bottom: 50px;
padding-left: 50px;
}



.role {
text-shadow:  grey 1px 0 15px;
letter-spacing: 5px;
line-height: ;
font-family: "Andale Mono", AndaleMono, monospace; 
Color: white;
Text-align: left;
font-size: 1.8em;
font-weight: bold;
margin-left: 5px;
Margin-right: 5px;
margin-top: 50px;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

.phone {
letter-spacing: 5px;
line-height: 1.5;
font-family: "Andale Mono", AndaleMono, monospace; 
Color: white;
Text-align: left;
font-size: 1.8em;
font-weight: bold;
margin-left: 5px;
Margin-right: 5px;
margin-top: 0px;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

.asif {
Background-color: black; 
background-image: url("../images/.jpg");
background-size: cover;
outline-width: 5px;
outline-style: solid; 
outline-color: black;
font-weight: bold;
letter-spacing: 5px;
line-height: 1.5;
font-family: "Andale Mono", AndaleMono, monospace; 
font-size: 1.8em;
Color: white;
Text-align: justified;
text-indent: 0px;
margin-left: 5px;
Margin-right: 5px;
margin-top: 30px;
padding-top: 50px;
padding-right: 50px;
padding-bottom: 50px;
padding-left: 50px;
}


.service {
background-image: url("../images/.jpeg");
background-color: black;
outline-width: 5px;
outline-style: solid; 
outline-color: white;
text-shadow:  beig 2px 0 15px;
font-weight: bold;
letter-spacing: 5px;
line-height: 1.5;
font-family: "Andale Mono", AndaleMono, monospace; 
font-size: 1.8em;
Color: white;
Text-align: left;
text-indent: 0px;
margin-left: 5px;
Margin-right: 5px;
margin-top: 50px;
padding-top: 50px;
padding-right: 50px;
padding-bottom: 50px;
padding-left: 50px;
}

.srv-list {
list-style-type: ;
color: black;
text-decoration: none;
display: block;
text-align: left;
Font-family: "Andale Mono", AndaleMono, monospace;
text-transform: uppercase;
font-weight: bold;
margin-left: 20px;
margin-left: 5px;
Margin-right: 5px;
margin-top: 30px;
padding-top: 50px;
padding-right: 50px;
padding-bottom: 50px;
padding-left: 50px;
}

.srv-list li {
  margin: 20px 10px;
}


.ty {
 font-weight: bold;
font-family: "Andale Mono", AndaleMono, monospace; 
Color: white;
Text-align: center;
font-size: 1.60em;
margin-top: 150px;
Margin-right: 50px;
margin-left: 50px;
font-size: 1.4em;
padding-top: 50px;
padding-right: 50px;
padding-bottom: 50px;
padding-left: 50px;
}

.tyab {
 font-weight: bold;
font-family: "Andale Mono", AndaleMono, monospace; 
Color: white;
Text-align: center;
font-size: 1.60em;
margin-top: 30px;
Margin-right: 50px;
margin-left: 50px;
font-size: 1.4em;
padding-top: 30px;
padding-right: 50px;
padding-bottom: 50px;
padding-left: 50px;
}

.navbar-menu{
  list-style-type: none;
  margin: 0;
  margin-left: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: black;
  Font-family: "Andale Mono", AndaleMono, monospace; 
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
}


.navbar-menu li {
  float: right;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
}

.navbar-menu li a:hover, .dropdown:hover .dropbtn {
  background-color: grey;
}

.navbar-menu .dropdown {
  display: inline-block;
}

.navbar-menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.navbar-menu .dropdown-content a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  Font-family: "Andale Mono", AndaleMono, monospace;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-menu .dropdown-content a:hover {background-color: #f1f1f1;}

.navbar-menu .dropdown:hover .dropdown-content {
  display: block;
}


